:root{
    --theme-yellow:#F8CA29;
    --theme-green:#252F2D;
    --theme-white:#ffffff;
    --theme-link:#B1B3B2;
    --theme-orange:#fa7e23;
}
body{
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease-in-out;
}

.heading h2{
    font-size: 40px;
    font-weight: 900 !important;
    color: var(--theme-yellow);
}
.heading span{
    color: var(--theme-green);
    border-bottom: 5px solid var(--theme-green);
}

.divider{
    height: 80px;
}

.navbar .navbar-brand span{
    color: var(--theme-yellow);
}
.navbar .navbar-brand {
    font-size: 32px !important;
    color:var(--theme-white);
    font-weight: 900 !important;
}

.header-sec{
    background-image: url(../img/hero.png);
    width:  100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar .navbar-nav a{
    color: white !important;
    font-size: 18px;
    font-weight:500 !important;
    transition: all 0.3s ease;
    
}
.navbar .navbar-nav a:hover , .navbar .navbar-nav .active{
    color: var(--theme-yellow) !important;
}


.navbar-toggler-icon{
    color: var(--theme-green) !important;
    outline: none;
    border: none;
}

.navbar-toggler{
    background: white;
    border: none;
    border-radius: 10px;
}

.navbar{
    margin: 0 120px;
}

.hero-content{
    padding-top: 100px;
    padding-left: 100px;
    color: var(--theme-white);
}

.hero-content h2{
    font-size: 60px !important;
    font-weight: 600;
    line-height: 70px;
    margin-top: 20px;
}

.hero{
    width: 100%;

}

.fa-brands{
    color: var(--theme-link);
    font-size: 32px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.hero-links ul li{
    list-style: none;
}
.fa-brands:hover{
    color: var(--theme-white);
}

.play{
    
}
 
.bi-caret-right{
    color: var(--theme-yellow);
    font-size: 24px;
    padding: 25px ;
     background: white;
    border-radius: 50%;
    border: 6px solid var(--theme-yellow);
    box-shadow: 0 0 0 0 rgb(222, 207, 72);
    transform: scale(1);
    animation: pulse 1.5s infinite;

}

.play{
    margin-top: 90px;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(222, 207, 72, 1);
    }

    70% {
        
        box-shadow: 0 0 0 15px rgba(222, 207, 72, 0);
    }

    100% {
        
        box-shadow: 0 0 0 0 rgba(222, 84, 72, 0);
    }
}



.my-services .service-content .services{
    border: 5px solid var(--theme-yellow);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.my-services .service-content .services .service-detail h3{
font-size: 24px;
font-weight: bold;
margin-top: 30px;
color: var(--theme-green);
transition: all 0.3s ease-in;
}
.my-services .service-content .services .icon-active svg path{
    fill: var(--theme-yellow) !important; 
}

.my-services .service-content .services .icon svg path{
    fill: var(--theme-green);
    transition: all 0.3s ease-in;
}

.my-services .service-content .services:hover .icon svg path{
    fill: var(--theme-yellow);
}
.my-services .service-content .services:hover .service-detail h3 , .service-detail-active h3{
    color: var(--theme-yellow) !important;
}

.button .btn {
    background-color: var(--theme-green);
    border-radius: 8px;   
    transition: all 0.3s ease-in;
}
.button .btn:hover {
    background-color: var(--theme-yellow);
    border-radius: 8px;   
}
.button-2 .btn {
    background-color: var(--theme-white);
    border-radius: 8px;  
    transition: all 0.3s ease-in; 
}
.button-2 .btn:hover {
    background-color: var(--theme-yellow);
    border-radius: 8px;   
}
.button-2 .btn a{
    color: var(--theme-green) !important;
    font-size: 14px !important;
    transition: all 0.3s ease-in;
}
.button-2 .btn:hover  a{
    color: var(--theme-white) !important;
}
.button-3 .btn{
    background-color: var(--theme-orange);
    border-radius: 8px;
    transition: all 0.3s ease-in;
}
.button-3 .btn:hover {
    background-color: var(--theme-green);
    border-radius: 8px;   
}
.button-3 .btn a{
    color: var(--theme-white) !important;
    font-size: 14px !important;
    transition: all 0.3s ease-in;
}
.button-3 .btn:hover  a{
    color: var(--theme-white) !important;
}
.overlay{
    background: rgba(15, 8, 0, 0.359) !important;
    opacity:0;
    display: flex;
    transition: all 0.3s ease;

}
.my-portfolio .portfolio-content .content:hover .overlay{
    opacity: 1 !important;
}



.my-blog{
    background-image: url(../img/blog-bg.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;

}
.my-blog .blog-head{
    color: white;
    border-bottom: 5px solid white;
}
.my-blog .heading p{
    color: var(--theme-white) !important;
}

.blog-content{
    width: 100%;
    background-color: #ffffff !important;
    box-shadow: 0px 0px 20px 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 0px 0px 20px;
}

input::placeholder ,textarea::placeholder{
    color: black;
}
input , textarea{
    border: 1px solid rgba(17, 16, 16, 0.477);
}

input:focus{
 border: 1px solid black;
}

.projects{
    background: #f9f9f9;
}

.footer{
    background-color: var(--theme-green);
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 50px;
    padding-top: 80px;
}

.footer-link a i{
    background: #3e412d;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
}

.footer-link a i:hover{
    background-color: var(--theme-white);
    color: var(--theme-green);
}

.copyright p{
    color: var(--theme-white);
}
